/* 整体容器 */
.publication-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* 图片容器 */
  .image-container {
    position: relative;
    flex-shrink: 0;
    margin-right: 15px;
  }
  
  /* 图片样式 */
  .publication-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* 阴影效果 */
    border: 2px solid #ccc;                  /* 边框 */
    border-radius: 5px;                      /* 圆角 */
  }
  
  /* 会议/期刊标记 */
  .conference-label {
    position: absolute;
    top: 5px;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    font-size: 12px;
  }
  
  /* 右侧文字内容 */
  .text-content {
    flex-grow: 1;
    margin-left: 20px;
  }
  